body, html {
  height: 100%;
  margin: 0;

  font-family: 'serif';
  background: linear-gradient(to right, #ffffff, #ffffff); /* Gradient using the first two colors of the palette */
  overflow: auto;
}

.App {
  max-width: 80%;
  padding: 20px;
  margin: 30px auto;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(124, 185, 190, 0.2);
  border: 1px solid rgba(232, 243, 244, 0.3); /* Border using e8f3f4 */
}

.App-header {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.seats4u {
  width: 25vw;
  height: auto;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color:#f3847c;
}

.formColumn {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(232, 243, 244, 0.3);
  overflow-wrap: break-word; /* Breaks long words that would overflow */
  word-wrap: break-word; /* Older CSS3 property for breaking long words */
  overflow: hidden; /* Hides the content that overflows the container */
}

.border {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(124, 185, 190, 0.2);
  border: 1px solid rgba(232, 243, 244, 0.3); /* Border using e8f3f4 */
  overflow-wrap: break-word; /* Breaks long words that would overflow */
  word-wrap: break-word; /* Older CSS3 property for breaking long words */
  overflow: hidden; /* Hides the content that overflows the container */
  margin-bottom: 10px;
}

.formRow {
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.formRow:hover {
  transform: translateY(-3px);
}

.input, button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
}

.input {
  background: rgba(236, 236, 236, 0.5); /* Semi-transparent background using e0eff0 */
  backdrop-filter: blur(5px);
}

button {
  background-color: #f3847c; /* Button color using 7cb9be */
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b7655f; /* Darker shade of 7cb9be for hover effect */
}

.input:focus, button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.label {
  display: block;
  color: rgb(0, 0, 0);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(124, 185, 190, 0.2);
}

/* Error Messages */
#Error, #Error2, #Error3, #Error4, #Error5, #Error6, #Error7, #Error8 {
  color: #000000;
  margin-top: 10px;
  word-wrap: break-word; /* Breaks long words to prevent horizontal scrolling */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .formContainer {
    flex-direction: column;
  }

  .formColumn {
    margin-bottom: 20px;
  }
}


